<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cho6.finalproject_guru2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_vote"
        android:label="투표했SWU"
        android:roundIcon="@mipmap/ic_launcher_vote_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Acitivity.AdminSettingActivity" />
        <activity android:name=".Acitivity.RegVoteActivity"></activity>
        <activity android:name=".Acitivity.AdminMainActivity" />
        <activity android:name=".Acitivity.ResultVoteActivity" />
        <activity android:name=".Acitivity.VoteActivity" />
        <activity android:name=".Acitivity.SettingActivity" />
        <activity android:name=".Acitivity.JoinActivity" />
        <activity android:name=".Acitivity.UserMainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC4JUQBOocsood57IyUGoG7AwuZS4dO6Is" />

        <activity android:name=".Acitivity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>